# Series

In [1]:
import numpy as np
import pandas as pd
from pandas import Series, DataFrame

In [2]:
obj = Series([10, 20, 30, 40])
obj

0    10
1    20
2    30
3    40
dtype: int64

In [5]:
obj.values

array([10, 20, 30, 40], dtype=int64)

In [6]:
expense = Series( [1000, 2000, 3000], index = ['House', 'Electricity', 'Food'] )    #Expense is the name of the Series
expense

House          1000
Electricity    2000
Food           3000
dtype: int64

In [10]:
expense["Food"]

3000

In [17]:
#checking which category has expense greater than 1000
expense[ expense > 1000 ]

Electricity    2000
Food           3000
dtype: int64

In [20]:
#checking the existence
'Food' in expense

True

In [26]:
#Converting a series to dictionary
expense_dict = expense.to_dict()
expense_dict

{'Electricity': 2000, 'Food': 3000, 'House': 1000}

In [27]:
#Converting a dictionary to series 
expense_series = Series(expense_dict)
expense_series

Electricity    2000
Food           3000
House          1000
dtype: int64

In [31]:
categories = ['Electricity', 'Food', 'House', 'house', 'Groceries', 'Entertainment']
object2 = Series(expense_dict, index = categories)
object2

Electricity      2000.0
Food             3000.0
House            1000.0
house               NaN
Groceries           NaN
Entertainment       NaN
dtype: float64

In [32]:
#check the existence of null values
pd.isnull(object2)

Electricity      False
Food             False
House            False
house             True
Groceries         True
Entertainment     True
dtype: bool

In [33]:
pd.notnull(object2)

Electricity       True
Food              True
House             True
house            False
Groceries        False
Entertainment    False
dtype: bool

In [36]:
expense_series + object2

Electricity      4000.0
Entertainment       NaN
Food             6000.0
Groceries           NaN
House            2000.0
house               NaN
dtype: float64

In [37]:
object2.name = "Expense of the Month"
object2.index.name = 'Categories'

In [35]:
object2

Categories
Electricity      2000.0
Food             3000.0
House            1000.0
house               NaN
Groceries           NaN
Entertainment       NaN
Name: Expense of the Month, dtype: float64

# Rank and Sort

In [38]:
#Sorting by index
ser1 = Series(range(3),index=['C','A','B'])

#show
ser1

C    0
A    1
B    2
dtype: int32

In [39]:
#Now sort_index
ser1.sort_index()

A    1
B    2
C    0
dtype: int32

In [40]:
#Can sort a Series by its values

ser1.sort_values()

C    0
A    1
B    2
dtype: int32

In [41]:
#Lets see how ranking works

from numpy.random import randn
ser2 = Series(randn(10))

#Show
ser2

0    1.420903
1    0.759744
2    1.288626
3    0.243417
4    0.141997
5   -1.452206
6   -0.270489
7   -0.127886
8    0.006932
9   -0.364862
dtype: float64

In [43]:
#This will show you the rank used if you sort the series
ser2.rank()

0    10.0
1     8.0
2     9.0
3     7.0
4     6.0
5     1.0
6     3.0
7     4.0
8     5.0
9     2.0
dtype: float64

In [44]:
#Lets sort it now
ser2.sort_values()

#Show
ser2

0    1.420903
1    0.759744
2    1.288626
3    0.243417
4    0.141997
5   -1.452206
6   -0.270489
7   -0.127886
8    0.006932
9   -0.364862
dtype: float64

In [45]:
#After sorting let's check the rank and see iof it makes sense
ser2.rank()

0    10.0
1     8.0
2     9.0
3     7.0
4     6.0
5     1.0
6     3.0
7     4.0
8     5.0
9     2.0
dtype: float64