Reading CSV Files

In [1]:
import numpy as np
from pandas import Series, DataFrame
import pandas as pd

In [2]:
# Can open csv files as a dataframe
dframe = pd.read_csv('C:/Users/chandan/Desktop/Data_sets/lec25.csv')

#Show
dframe

   q  r  s  t   apple
0  2  3  4  5    pear
1  a  s  d  f  rabbit
2  5  2  5  7     dog

In [3]:
# Can also use read_table with ',' as a delimiter
dframe = pd.read_table('C:/Users/chandan/Desktop/Dats_sets/lec25.csv',sep=',')

#Show
dframe

   q  r  s  t   apple
0  2  3  4  5    pear
1  a  s  d  f  rabbit
2  5  2  5  7     dog

In [4]:
dframe

   q  r  s  t   apple
0  2  3  4  5    pear
1  a  s  d  f  rabbit
2  5  2  5  7     dog

In [5]:
#If we dont want the header to be the first row
dframe = pd.read_csv('C:/Users/chandan/Desktop/lec25.csv',header=None)

#Show
dframe

   0  1  2  3       4
0  q  r  s  t   apple
1  2  3  4  5    pear
2  a  s  d  f  rabbit
3  5  2  5  7     dog

In [6]:
# We can also indicate a particular number of rows to be read
pd.read_csv('C:/Users/chandan/Desktop/lec25.csv',header=None,nrows=2)

   0  1  2  3      4
0  q  r  s  t  apple
1  2  3  4  5   pear

In [7]:
# Let's see dframe again
dframe

   0  1  2  3       4
0  q  r  s  t   apple
1  2  3  4  5    pear
2  a  s  d  f  rabbit
3  5  2  5  7     dog

In [8]:
# Now let's see how we can write DataFrames out to text files
dframe.to_csv('C:/Users/chandan/Desktop/hello.csv')

#You'll see this file where you're ipython Notebooks are saved (Usually under my documents)

In [9]:
#  We can also use other delimiters

#we'll import sys to see the output
import sys 

#Use sys.stdout to see the output directly and not save it
dframe.to_csv(sys.stdout,sep='_')

_0_1_2_3_4
0_q_r_s_t_apple
1_2_3_4_5_pear
2_a_s_d_f_rabbit
3_5_2_5_7_dog

In [10]:
# Just to make sure we understand the delimiter
dframe.to_csv(sys.stdout,sep='?')

?0?1?2?3?4
0?q?r?s?t?apple
1?2?3?4?5?pear
2?a?s?d?f?rabbit
3?5?2?5?7?dog

Reading JSON Files

In [11]:
# Heres an example of what a JSON (JavaScript Object Notation) looks like:
json_obj = """
{   "zoo_animal": "Lion",
    "food": ["Meat", "Veggies", "Honey"],
    "fur": "Golden",
    "clothes": null, 
    "diet": [{"zoo_animal": "Gazelle", "food":"grass", "fur": "Brown"}]
}
"""

In [12]:
#Let import json module
import json

#Lets load json data
data = json.loads(json_obj)

In [13]:
#Show
data

{'clothes': None,
 'diet': [{'food': 'grass', 'fur': 'Brown', 'zoo_animal': 'Gazelle'}],
 'food': ['Meat', 'Veggies', 'Honey'],
 'fur': 'Golden',
 'zoo_animal': 'Lion'}

In [14]:
#WE can also convert back to JSON
json.dumps(data)

'{"zoo_animal": "Lion", "food": ["Meat", "Veggies", "Honey"], "fur": "Golden", "clothes": null, "diet": [{"zoo_animal": "Gazelle", "food": "grass", "fur": "Brown"}]}'

In [15]:
#We can simply open JSON data after loading with a DataFrame
dframe = DataFrame(data['diet'])

In [16]:
#Show
dframe

    food    fur zoo_animal
0  grass  Brown    Gazelle

Reading Excel File

In [19]:
# Open the excel file as an object
xlsfile = pd.ExcelFile('C:/Users/chandan/Desktop/lec28.xlsx')

In [20]:
# Parse the first sheet of the excel file and set as DataFrame
dframe = xlsfile.parse('Sheet1')

In [21]:
#Show!
dframe

   This is a test  Unnamed: 1  Unnamed: 2
0              23        6678         456
1             234         678         456
2             234           7         345
3              34          56         234
4               5         456        4365